.project
.settings
app/.project
app/.settings
bower_components
bower_components_newer
dist
npm-debug.log
.tmp
.sass-cache
*.orig
*~
node_modules
nodeserver
*.json
/nbproject/private/
nbproject
*.ear
*.war
*.log
*.ear.bak
