<div class="modal-content">

    <div class="modal-header">
        <h5 class="modal-title"  style="font-size: 30px; font-weight: 500;">Notatka</h5>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row row-details">
            <div class="col-md-12">
                <span style="font-size: 16px;">
                    {{message}}
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()"><span>OK</span></button>
    </div>
    
</div>   