<div class='col-md-12 container'>
    <div class="square">
        <div class="login-view col-md-6">
        
        </div>
        <div class="wrap-all col-md-6">
            <div class='growl' growl></div>
            <div class="container-fluid" style="height: 100%; display:flex; flex-direction: column; justify-content: center;">
                <!-- <div class="row text-center title">
                    <div class="col-md-4">
                        <h1>SignUp</h1>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <input class="form-control input-sm" type="text" ng-model="registerName" placeholder="Nick"> 
                        <input class="form-control input-sm" type="password" ng-model="registerPass" placeholder="Hasło">
                    </div>
                    <button class="btn btn-primary btn-sm" ng-click="register()">Zarejestruj się!</button>
                </div> -->
                
                <div class="row text-center title" style="text-align: center;">
                    <h3 style="color: #fff;font-family: 'Merriweather', serif;">Log In</h3>
                </div>
                
                <div class="row text-center">
                    <div class="col-md-2">
                        <label style="color: #fff;" class="control-label">Login: </label>
                    </div>
                    <div class="col-md-8">
                        <form ng-submit="login()">
                            <div class="custom-input-group">
                                <input class="custom-input" type="text" ng-model="userName"> 
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row text-center">
                        <div class="col-md-2">
                            <label style="color: #fff;" class="control-label">Hasło: </label>
                        </div>
                        <div class="col-md-8">
                            <form ng-submit="login()">
                                <div class="custom-input-group">
                                    <input class="custom-input" type="password" ng-model="userPassword"> 
                                </div>
                            </form>
                        </div>
                    </div>
                <div class="row" style="display: flex; justify-content: space-between;">
                    <div class="col-md-4">
                        <button type="button" ng-click="registerModal()" class="btn btn-login-ok">SignUp</button>
                        
                    </div>
                    <div class="col-md-4">
                        <button type="button" ng-click="login()" class="btn btn-login-ok">LogIn</button>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
