<div class='col-md-6 container'>
    <div style='height: 400px; overflow-y: scroll;'>
        <ul>
            <li ng-repeat="file in filesToDisplay">{{file.fileName}}</li>
        </ul>
    </div>
</div>
<div class='col-md-6 container'>
    <div class="square">
        <div class="login-view col-md-6">
        
        </div>
        <div class="wrap-all col-md-6">
            <div class='growl' growl></div>
            <div class="container-fluid" style="height: 100%; display:flex; flex-direction: column; justify-content: center;">
                <div class="row" style="margin-bottom: 17px">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="row information-row xss-information-row">
                            <label class="col-md-4 control-label">
                                Załącznik:
                            </label>
                            <div class="col-md-8 input">
                                <input class = "form-control"
                                    type     = "file"
                                    id = 'files'
                                    multiple>
                                </input>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <button ng-click="onAddAttachment()">Dodaj</button>
                <div ng-show='showLogIn'>
                    <div class="row text-center title" style="text-align: center;">
                        <h3 style="color: #fff;font-family: 'Merriweather', serif;">Log In</h3>
                    </div>
                    
                    <div class="row text-center">
                        <div class="col-md-3">
                            <label style="color: #fff;" class="control-label">Login: </label>
                        </div>
                        <div class="col-md-8">
                            <form ng-submit="login()">
                                <div class="custom-input-group">
                                    <input class="custom-input" type="text" ng-model="userName"> 
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-3">
                            <label style="color: #fff;" class="control-label">Password: </label>
                        </div>
                        <div class="col-md-8">
                            <form ng-submit="login(showLogIn)">
                                <div class="custom-input-group">
                                    <input class="custom-input" type="password" ng-model="userPassword"> 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div ng-show='!showLogIn'>
                    <div class="row text-center title" style="text-align: center;">
                        <h3 style="color: #fff;font-family: 'Merriweather', serif;">Sign Up</h3>
                    </div>
                    
                    <div class="row text-center">
                        <div class="col-md-3">
                            <label style="color: #fff;" class="control-label">Login: </label>
                        </div>
                        <div class="col-md-8">
                            <form>
                                <div class="custom-input-group">
                                    <input class="custom-input" type="text" ng-model="registerName"> 
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-3">
                            <label style="color: #fff;" class="control-label">Password: </label>
                        </div>
                        <div class="col-md-8">
                            <form ng-submit="register(showLogIn);">
                                <div class="custom-input-group">
                                    <input class="custom-input" type="password" ng-model="registerPass"> 
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3">
                            <label style="color: #fff;" class="control-label">Confirm Password: </label>
                        </div>
                        <div class="col-md-8">
                            <form ng-submit="register(showLogIn);">
                                <div class="custom-input-group">
                                    <input class="custom-input" type="password" ng-model="registerPassRepeat"> 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" style="display: flex; justify-content: space-between;">
                    <div class="col-md-4">
                        <button type="button" ng-click="register(showLogIn);" class="btn btn-default">SignUp</button>
                        
                    </div>
                    <div class="col-md-4">
                        <button type="button" ng-click="login(showLogIn);" class="btn btn-default">LogIn</button>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
