
<div class="wrap-all details-wrap-all" style="height: 100vh;">
    <div class='growl' growl></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div> <!-- zwężenie całego widoku -->
            <div class="col-md-10">
                <div class="row row-details">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <h2>
                            <button ng-click="logout()" class="btn btn logout-btn btn-primary purple-btn">Log Out</button>
                        </h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-8" style="margin-top: -30px;">
                        <h2>User: {{empInfo.NAME}}</h2>
                    </div>
                    <div class="col-md-4">
                        <current-date></current-date> <!-- directive with date -->
                    </div>    
                </div>
            </div>
            <div class="col-md-1"></div> <!-- zwężenie całego widoku -->
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <table style="margin-top: 100px;" class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Password</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pass in passwords">
                        <th scope="row">{{$index + 1}}</th>
                        <td>{{pass.SITE}}</td>
                        <td ng-if="pass.visible != true">********&nbsp;&nbsp;&nbsp;
                            <span ng-click="pass.visible = true;" class="glyphicon glyphicon-eye-open"></span>
                        </td>
                        <td ng-if="pass.visible == true;">{{pass.PASSWORD}}&nbsp;&nbsp;&nbsp;
                            <span ng-click="pass.visible = false;" class="glyphicon glyphicon-eye-close"></span>
                        </td>
                        <td>
                            <span ng-click="removePassword(pass)" class="glyphicon glyphicon-remove"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button style="float:left;" ng-click="addModal()" class='btn btn-primary purple-btn'>Add new entry</button>
            <button ng-disabled="arrToRemove.length == '0'" style="float: left; margin-left:20px;" ng-click="confirmDelete()" class='btn btn-primary purple-btn'>Confirm delete</button>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>